Package: com.kasiim.dndpillenabler
Name: DNDPillEnabler
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: kasiimh1
Author: kasiimh1
Section: Tweaks
